.phone{
    height: 844px;
    width: 390px;
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 0px 10px 10px #888888;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: 20px;
    position: relative;
}

.loadingBar{
    margin-top: 70%;
    margin-left: 30%;
}



.mainContent{
    /* height: 714px; */
    margin:10px;
    margin-left: 16px;
}



.bottomBar{
    background-color: #F2F2F2;
    position: absolute;
    bottom: 0px;
    width: 388px;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bottomBarImage{
    width: 354px;
    height: 68px;
}
.imageContainer{
    width: 354px;
    margin:0 auto;
}


.iphoneLine{
    margin-left: 40%;
    padding-top: 10px;
}

.iphoneBottomBar{
    background-color: #F2F2F2;
    height: 28px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}