.phone{
    height: 844px;
    width: 390px;
    background-color: #ffffff;
    border: 1px solid black;

    box-shadow: 0px 10px 10px #888888;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: 20px;

    position: relative;
}

.loadingBar{
    margin-top: 70%;
    margin-left: 30%;
}



.mainContent{
    /* height: 714px; */
    margin:10px;
    margin-left: 16px;
}
.firstGraph{
    margin-top: 10px;
    margin-bottom: 10px;
}


.bottomBar{
    background-color: #F2F2F2;
    position: absolute;
    bottom: 0px;
    width: 388px;



    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bottomIcons{
    padding-left: 77px;
    padding-top: 20px;
}

.iphoneLine{
    margin-left: 40%;
    padding-top: 10px;
}

.iphoneBottomBar{
    background-color: #F2F2F2;
    height: 28px;




    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}